# ===
# HPO
# ===

# Use actual RDMBS
OPTUNA_DB_CONNECTION=mysql
OPTUNA_DB_HOST=127.0.0.1
OPTUNA_DB_DATABASE=optuna
OPTUNA_DB_USER=optuna
OPTUNA_DB_PASSWORD=secret

# or use sqlite
#OPTUNA_DB_CONNECTION=sqlite
#OPTUNA_DB_HOST=
#OPTUNA_DB_DATABASE=optuna.sqlite
#OPTUNA_DB_USER=
#OPTUNA_DB_PASSWORD=

# ===
# HPO Results
# ===

EXPERIMENT_DB_CONNECTION=mysql
EXPERIMENT_DB_HOST=127.0.0.1
EXPERIMENT_DB_DATABASE=experiments
EXPERIMENT_DB_USER=user
EXPERIMENT_DB_PASSWORD=secret

# ===
# GEDs and Graphs
# Corresponds to: `graph_mixup/ged_database/alembic.ini`
# ===

GED_DB_CONNECTION=mysql
GED_DB_HOST=127.0.0.1
GED_DB_DATABASE=graphs
GED_DB_USER=ged
GED_DB_PASSWORD=secret
